In [ ]:
pip install --upgrade pip

In [ ]:
pip install pandas matplotlib numpy

In [ ]:
import pandas as pd
# Creating a Series
ser1 = pd.Series([10,20,30,40])
# Displaying the Series
ser1

In [ ]:
ser2 = pd.Series([[10, 20], [30, 40.5,'series'],[50, 55], {'Name':'Tess','Org':'Packt'}])
ser2

In [ ]:
# Create a DataFrame using the constructor
df = pd.DataFrame([30,50,20])
# Display the DataFrame
df

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
print("These are the names of the columns",list(df.columns))

In [ ]:
print("These are the row indices",list(df.index))

In [ ]:
# Renaming the columns
df.columns = ['V1']
df

In [ ]:
# Renaming the indices
df.index = ['R1','R2','R3']
df

In [ ]:
# Creating DataFrame with multiple columns
df1 = pd.DataFrame([[10,15,20],[100,200,300]])
print("Shape of new data frame",df1.shape)
df1.index =[1,2]
df1.columns =['V1','V2','V2']
df1

In [ ]:
csv_file_data = pd.read_csv('./Datasets/student-por.csv',delimiter=';')
csv_file_data

In [ ]:
csv_file_data.head(2)

In [ ]:
csv_file_data.tail(6)

In [ ]:
import pandas as pd

student_data = pd.read_csv('./Datasets/student-por.csv',delimiter=';')
student_small = student_data.head(10)
output_path ='./ExtractFiles/student_small.csv'
student_small.to_csv(output_path,sep=';')
student_small_updated = pd.read_csv('./ExtractFiles/student_small.csv',delimiter=';')
student_small_updated

In [ ]:
student_small_updated.dtypes

In [ ]:
student_small_updated.info()

In [ ]:
# Converting 'Medu' to data type float
student_data ['Medu'] = student_data['Medu'].astype('float')
student_data.dtypes

In [ ]:
student_data.head(18)

In [ ]:
age_df = student_data['age']
age_df

In [ ]:
student_subset1= student_data[['age','address','famsize']]
student_subset1

In [ ]:
student_subset2 = student_data.loc[15:25,['age','address','famsize']]
student_subset2

In [ ]:
student_subset2.shape

In [ ]:
student_data.groupby(['famsize'])['famsize'].agg('count')

In [ ]:
agg_data = student_data.groupby(['famsize'])['famsize'].agg('count')
agg_data

In [ ]:
x = list(agg_data.index)
x

In [ ]:
y = agg_data.values
y

In [ ]:
import matplotlib.pyplot as plt
# %matplotlib inline
plt.style.use('ggplot')
# Plotting the data
plt.bar(x, y, color='gray')
plt.xlabel("Family Sizes")
plt.ylabel("Count of Students ")
plt.title("Distribution of students against family sizes")
plt.show()

In [ ]:
date = pd.to_datetime('15th of January, 2021')
date

In [ ]:
date = pd.to_datetime('15 Aug 2024')
date

In [ ]:
# date after 25 days
new_date = date + pd.Timedelta (25,unit='D')
new_date

In [ ]:
future_date = pd.date_range(start=new_date,periods=7,freq='D')
future_date

In [ ]:
student_data = pd.read_csv('./Datasets/student-por.csv',delimiter=';')
student_data

In [ ]:
# Defining the function
def add5(x):
    return  x + 5

In [ ]:
df = student_data[['G1','G2','G3']]
df.head(5)

In [ ]:
# Using apply method 
df = student_data[['G1','G2','G3']].apply(add5)
df.head(5)

In [ ]:
df = student_data[['G1','G2','G3']].apply(lambda x:x+5)
df

In [ ]:
import numpy as np
np.random.normal(2.0,1,10)

In [ ]:
pd.concat([ser1,ser2])

In [ ]:
#The df.sum, df.mean, and divmod numeric functions:
#The to_numeric and to_numpy data type conversion functions:
# The df.eq, df.gt, and df.lt DataFrame comparison functions:

In [ ]:
# Define an empty list
letters = []
for letter in 'Pandas':
    letters.append(letter)
print(letters)

In [ ]:
letters = [ letter for letter in 'Pandas' ]
print(letters)

In [ ]:
# Create a Data Frame
lst = [['C', 45], ['A', 60],
       ['A', 26], ['C', 57], ['C', 81]]
df = pd.DataFrame(lst, columns =['Product', 'Sales'])
df

In [52]:
df.loc[:2,'Sales']

0    45
1    60
2    26
Name: Sales, dtype: int64

In [ ]:
df.iloc[3]

In [51]:
df['Sales'].eq(45)

0     True
1    False
2    False
3    False
4    False
Name: Sales, dtype: bool

In [53]:
df[df['Sales'].eq(45)]

  Product  Sales
0       C     45