In [73]:
import pandas as pd
import numpy as np

In [74]:
column_names = ["Customer ID", "Customer Name","2018 Revenue", "2019 Revenue","Growth", "Start Year", "Start Month","Start Day", "New Customer"]
row1 = list([1001.0, 'Pandas Banking','€235000', '€248000','5.5%', 2013,3,10, 0])
row2 = list([1002.0, 'Pandas Grocery','€196000', '€205000','4.5%', 2016,4,30, 0])
row3 = list([1003.0, 'Pandas Telecom','€167000', '€193000', '15.5%',2010,11,24, 0])
row4 = list([1004.0, 'Pandas Transport','€79000', '€90000', '13.9%',2018,1,15, 1])
row5 = list([1005.0, 'Pandas Insurance','€241000', '€264000', '9.5%',2009,6,1, 0])

In [ ]:
data_frame = pd.DataFrame(data=[row1, row2, row3, row4, row5],columns=column_names)
data_frame

In [ ]:
data_frame['2018 Revenue'] + data_frame['2019 Revenue']

In [ ]:
data_frame.dtypes

In [ ]:
data_frame.info()

In [ ]:
data_frame["Customer ID"] =data_frame['Customer ID'].astype('int')
data_frame["Customer ID"]

In [80]:
# data_frame['2018 Revenue'] =data_frame['2018 Revenue'].astype('int')

In [81]:
def remove_currency(column):
    new_column = column.replace('€','')
    return int(new_column)

In [ ]:
data_frame['2018 Revenue'] =data_frame['2018 Revenue'].apply(remove_currency)
data_frame["2018 Revenue"]

In [ ]:
data_frame['2019 Revenue'] = data_frame['2019 Revenue'].apply(remove_currency)
data_frame["2019 Revenue"]

In [84]:
def remove_percentage(column):
    new_column = column.replace('%','')
    return float(new_column)

In [ ]:
data_frame['Growth'] = data_frame['Growth'].apply(remove_percentage)
data_frame["Growth"]

In [ ]:
data_frame.rename(columns={'Start Year': 'year','Start Month': 'month','Start Day': 'day'},inplace=True)
data_frame['Starting Date'] =pd.to_datetime(data_frame[['day', 'month', 'year']])
data_frame['Starting Date']

In [ ]:
data_frame["New Customer"] =data_frame['New Customer'].astype('bool')
data_frame["New Customer"]

In [ ]:
data_frame["Customer Name"] =data_frame['Customer Name'].astype('category')
data_frame["Customer Name"]

In [ ]:
data_frame.dtypes

In [ ]:
data_frame['2018 Revenue'] + data_frame['2019 Revenue']

In [ ]:
data_frame['Starting Date'] - pd.to_datetime('2020-09-01')

In [ ]:
data_frame.drop(['year','month','day'],axis=1,inplace=True)
data_frame.iloc[0,0]=None
data_frame.iloc[4,1] = None
data_frame.iloc[2,2] = None
data_frame.iloc[3,3] = None
data_frame.iloc[3,4] = None
data_frame.iloc[1,5] = None
data_frame.iloc[2,6] = None
data_frame

In [ ]:
data_frame.info()

In [94]:
# data_frame["Customer ID"] =data_frame['Customer ID'].astype('int')
# data_frame["Customer ID"]

In [ ]:
data_frame["Customer Name"] =data_frame['Customer Name'].astype('object')
data_frame["Customer Name"]

In [ ]:
data_frame["New Customer"] =data_frame['New Customer'].astype('bool')
data_frame["New Customer"]

In [ ]:
data_frame['Starting Date'] - pd.to_datetime('2020-09-01')

In [ ]:
s = pd.Series(['pandas is awesome'])
s

In [ ]:
s.str.split()

In [ ]:
s.str.replace('pandas', 'python')

In [ ]:
s.str.count('a')

In [ ]:
s.str.len()

In [ ]:
s.str.capitalize()

In [ ]:
s.str.islower()

In [ ]:
string1 = pd.Series('pandas is')
string2 = pd.Series(' awesome')
string1.str.cat(string2)

In [ ]:
string = pd.Series('pandas is awesome')
string.str.contains('pandas')

In [ ]:
string = pd.Series('pandas')
string.str.repeat(2)

In [ ]:
string = pd.Series('pandas is awesome')
string.str.lower()

In [ ]:
string = pd.Series('PANDAS is awesome')
string.str.upper()

In [ ]:
string = pd.Series('Pandas IS awesome')
string.str.swapcase()

In [ ]:
s = pd.Categorical(["large", "small", "medium", "small"],categories=["large", "small", "medium"],ordered=False)
s

In [ ]:
s.categories

In [ ]:
s.add_categories(['extra large'])

In [ ]:
s = s.reorder_categories(["small", "medium","large"], ordered=True)
s

In [ ]:
s.sort_values()

In [ ]:
series = pd.Categorical(['a','b'], categories=['a','b'])
series.rename_categories({'a':'A'})
series.categories

In [ ]:
s = pd.to_datetime(pd.Series(['1990-05-31 10:00','1995-06-05 15:00','2020-09-09 12:00']))

s

In [ ]:
s.dt.date

In [ ]:
s.dt.time

In [ ]:
s.dt.year

In [ ]:
s.dt.month

In [ ]:
s.dt.day

In [ ]:
s.dt.hour

In [ ]:
s.dt.minute

In [ ]:
s.dt.second

In [ ]:
s.dt.day_name()

In [ ]:
s = pd.to_datetime(pd.Series(['1990-05-31','1995-06-05','2020-09-09']))- pd.to_datetime('2020-01-01')
s

In [ ]:
s.dt.total_seconds()

In [ ]:
import pandas as pd
import numpy as np
column_names = ["Customer ID", "Customer Name","2018 Revenue", "2019 Revenue","Growth", "Start Year", "Start Month","Start Day", "New Customer"]
row1 = list([1001.0, 'Pandas Banking', '235000','248000', '5.5', 2013,3,10, 0])
row2 = list([1002.0, 'Pandas Grocery', '196000', '205000','4.5', 2016,4,30, 0])
row3 = list([1003.0, 'Pandas Telecom', '167000','193000', '15.5', 2010,11,24, 0])
row4 = list([1004.0, 'Pandas Transport', '79000','90000', '13.9', 2018,1,15, 1])
row5 = list([1005.0, 'Pandas Insurance', '241000','264000', '9.5', 2009,6,1, 0])
data_frame = pd.DataFrame(data=[row1, row2, row3, row4, row5],columns=column_names)
data_frame

In [ ]:
data_frame.dtypes

In [ ]:
data_frame.select_dtypes('object')

In [ ]:
data_frame.select_dtypes('number')

In [ ]:
data_frame.select_dtypes('number', exclude='int64')