In [2]:
import pandas as pd
import numpy as np
import random

In [3]:
np.random.seed(123)
# Create three series
ser1 = pd.Series(np.random.normal(3.0,1,100))
ser2 = pd.Series(np.random.normal(3.0,1,100))
ser3 = pd.Series(np.random.normal(3.0,1,100))

In [5]:
df =pd.concat([ser1,ser2,ser3],axis=1)
df.columns=['V1','V2','V3']
df.head()

         V1        V2        V3
0  1.914369  3.642055  3.703310
1  3.997345  1.022112  2.401895
2  3.282978  3.712265  5.200702
3  1.493705  5.598304  3.688297
4  2.421400  2.975374  2.993693

In [9]:
df.sum(axis=0)

V1    13.109798
V2    16.950109
V3    17.987897
dtype: float64

In [10]:
# Find the mean of the columns
df.mean(axis=0)

V1    3.027109
V2    2.980464
V3    2.904869
dtype: float64

In [11]:
df.apply(lambda x: divmod(x,3))

,V1,V2,V3
0,0 0.0 1 1.0 2 1.0 3 0.0 4 ...,0 1.0 1 0.0 2 1.0 3 1.0 4 ...,0 1.0 1 0.0 2 1.0 3 1.0 4 ...
1,0 1.914369 1 0.997345 2 0.282978 3...,0 0.642055 1 1.022112 2 0.712265 3...,0 0.703310 1 2.401895 2 2.200702 3...

In [ ]:
df.map(lambda x: divmod(x,3))

In [16]:
# Create a list of characters
list1 = [['20']*10,['35']*15,['40']*10,['10']*25,['15']*40]
# Convert them into a single list using list comprehension
charlist = [x for sublist in list1 for x in sublist]

# Display the output
len(charlist)

100

In [17]:
random.seed(123)
random.shuffle(charlist)
# Convert the list to a series
ser4 = pd.Series(charlist)
ser4

0     15
1     40
2     15
3     10
4     15
      ..
95    15
96    10
97    35
98    40
99    20
Length: 100, dtype: object

In [19]:
ser4 = pd.to_numeric(ser4)
ser4

0     15
1     40
2     15
3     10
4     15
      ..
95    15
96    10
97    35
98    40
99    20
Length: 100, dtype: int64

In [20]:
ser4.dtype

dtype('int64')

In [22]:
df = pd.concat([df,ser4],axis=1)
# Renaming the data frame
df.rename(columns={0:'V4'},inplace=True)
# Displaying the data frame
df

          V1        V2        V3  V4  V4
0   1.914369  3.642055  3.703310  15  15
1   3.997345  1.022112  2.401895  40  40
2   3.282978  3.712265  5.200702  15  15
3   1.493705  5.598304  3.688297  10  10
4   2.421400  2.975374  2.993693  15  15
..       ...       ...       ...  ..  ..
95  4.031114 -0.231055  3.695787  15  15
96  1.915432  2.730707  4.875801  10  10
97  1.636528  2.889149  3.415695  35  35
98  3.379401  2.658738  3.160544  40  40
99  2.620824  2.782054  3.819761  20  20

[100 rows x 5 columns]

In [23]:
numpArray = df.to_numpy()
numpArray

array([[ 1.9143694 ,  3.64205469,  3.70331012, 15.        , 15.        ],
       [ 3.99734545,  1.02211207,  2.40189467, 40.        , 40.        ],
       [ 3.2829785 ,  3.71226464,  5.2007021 , 15.        , 15.        ],
       [ 1.49370529,  5.59830393,  3.68829693, 10.        , 10.        ],
       [ 2.42139975,  2.97537402,  2.99369275, 15.        , 15.        ],
       [ 4.65143654,  3.03414213,  2.7933377 , 15.        , 15.        ],
       [ 0.57332076,  3.17954948,  2.91347771, 20.        , 20.        ],
       [ 2.57108737,  1.13802429,  2.08469293, 15.        , 15.        ],
       [ 4.26593626,  3.42614664,  2.90479746, 15.        , 15.        ],
       [ 2.1332596 ,  1.39459026,  3.27868352, 15.        , 15.        ],
       [ 2.32111385,  2.5723204 ,  3.57954162, 35.        , 35.        ],
       [ 2.90529103,  4.24286955,  3.57968978, 15.        , 15.        ],
       [ 4.49138963,  2.26478304,  2.72512245, 20.        , 20.        ],
       [ 2.361098  ,  3.50124899,  1.58391775, 20.        , 20.        ],
       [ 2.55601804,  4.01273905,  2.33089737, 20.        , 20.        ],
       [ 2.56564872,  3.27874086,  4.61219304, 10.        , 10.        ],
       [ 5.20593008,  1.62905153,  3.89605831, 35.        , 35.        ],
       [ 5.18678609,  2.66752472,  3.36961959, 10.        , 10.        ],
       [ 4.0040539 ,  4.95941134,  2.23870576, 35.        , 35.        ],
       [ 3.3861864 ,  0.97495424,  3.00364515, 40.        , 40.        ],
       [ 3.73736858,  2.72421399,  1.74433131, 35.        , 35.        ],
       [ 4.49073203,  2.44789193,  2.44806312, 15.        , 15.        ],
       [ 2.06416613,  3.12074736,  2.75479666, 15.        , 15.        ],
       [ 4.17582904,  3.74821562,  2.63836007, 35.        , 35.        ],
       [ 1.74611933,  4.60869097,  3.95660193, 15.        , 15.        ],
       [ 2.3622485 ,  2.72976761,  1.58127409, 15.        , 15.        ],
       [ 3.9071052 ,  3.81234133,  2.13456773, 10.        , 10.        ],
       [ 1.5713193 ,  3.49974014,  1.62531203, 35.        , 35.        ],
       [ 2.85993128,  3.4743473 ,  1.76264679, 10.        , 10.        ],
       [ 2.1382451 ,  2.43607607,  3.1240559 , 10.        , 10.        ],
       [ 2.74438063,  2.00267853,  1.39955947, 10.        , 10.        ],
       [ 0.20141089,  1.89995689,  3.75386878, 15.        , 15.        ],
       [ 1.2284669 ,  2.24356279,  2.75318422, 15.        , 15.        ],
       [ 2.30012277,  3.32168658,  3.06878833, 15.        , 15.        ],
       [ 3.92746243,  3.76094939,  3.32257674, 35.        , 35.        ],
       [ 2.82636432,  3.32346885,  2.56583348, 40.        , 40.        ],
       [ 3.00284592,  2.4510449 ,  4.03247972, 10.        , 10.        ],
       [ 3.68822271,  4.80597011,  2.80565727, 15.        , 15.        ],
       [ 2.12046366,  4.51886562,  3.59407026, 10.        , 10.        ],
       [ 3.28362732,  2.64599989,  2.80088762, 15.        , 15.        ],
       [ 2.19463348,  2.17656859,  3.29087439, 40.        , 40.        ],
       [ 1.27233051,  3.13021495,  3.27966267, 40.        , 40.        ],
       [ 2.60910021,  4.26729865,  3.24996994, 10.        , 10.        ],
       [ 3.57380586,  3.33276498,  2.02569215, 40.        , 40.        ],
       [ 3.33858905,  3.5565487 ,  3.43587577, 15.        , 15.        ],
       [ 2.98816951,  2.78791988,  2.68104301, 15.        , 15.        ],
       [ 5.39236527,  3.4562709 ,  3.63048803, 15.        , 15.        ],
       [ 3.41291216,  4.54454445,  0.84750656, 10.        , 10.        ],
       [ 3.97873601,  2.76033122,  1.53488378, 15.        , 15.        ],
       [ 5.23814334,  3.14330773,  3.36344556, 10.        , 10.        ],
       [ 1.70591468,  3.25381648,  4.86292759, 15.        , 15.        ],
       [ 1.96121179,  3.28372536,  3.83505875, 10.        , 10.        ],
       [ 4.74371223,  1.58811112,  2.31754907, 10.        , 10.        ],
       [ 2.20193726,  1.12313134,  1.30794758, 40.        , 40.        ],
       [ 3.02968323,  1.98034493,  3.74268622, 35.        , 35.        ],
       [ 4.06931597,  3.1679423 ,  2.91941678, 35.        , 35.        ],
       [ 3.89070639,  3.55385617,  3.59070422, 10.        , 10.        ],
       [ 4.75488618,  2.46932544,  3.11529872, 15.        , 15.        ],
       [ 4.49564414,  4.37725748,  3.02964293, 10.        , 10.        ],
       [ 4.06939267,  2.85682403,  5.95862545, 15.        , 15.        ],
       [ 2.22729129,  3.020316  ,  2.99387004, 15.        , 15.        ],
       [ 3.79486267,  2.80603613,  2.84075479, 40.        , 40.        ],
       [ 3.31427199,  3.13402679,  2.87855132, 10.        , 10.        ],
       [ 1.67373454,  3.70447407,  2.41646328, 15.        , 15.        ],
       [ 4.41729905,  3.66565344,  3.99013289, 10.        , 10.        ],
       [ 3.80723653,  2.10157706,  2.64624567, 20.        , 20.        ],
       [ 3.04549008,  4.52366378,  3.63594271, 35.        , 35.        ],
       [ 2.76690794,  1.90497354,  3.28460303, 35.        , 35.        ],
       [ 1.80169886,  3.07922701,  4.21898586, 15.        , 15.        ],
       [ 3.19952407,  2.72560343,  3.4201796 , 20.        , 20.        ],
       [ 3.46843912,  1.95100832,  1.78661522, 15.        , 15.        ],
       [ 2.16884502,  2.92487941,  1.67351221, 10.        , 10.        ],
       [ 4.16220405,  2.25918623,  4.40836915, 10.        , 10.        ],
       [ 1.90279695,  3.07290724,  2.3912892 , 15.        , 15.        ],
       [ 0.87689965,  3.40308596,  1.67939742, 20.        , 20.        ],
       [ 4.03972709,  4.47192937,  2.3303814 , 15.        , 15.        ],
       [ 2.59663396,  3.30738422,  4.26462529, 15.        , 15.        ],
       [ 2.87397041,  2.38877466,  1.579787  , 15.        , 15.        ],
       [ 2.16248328,  2.60838019,  2.1335048 , 10.        , 10.        ],
       [ 1.39403724,  3.13997811,  2.33319249, 20.        , 20.        ],
       [ 4.25523737,  3.09346083,  1.74881013, 15.        , 15.        ],
       [ 2.31113102,  4.45958927,  1.81567266, 40.        , 40.        ],
       [ 4.66095249,  4.39535293,  1.48189202, 15.        , 15.        ],
       [ 3.80730819,  2.64106407,  2.53881259, 15.        , 15.        ],
       [ 2.68524185,  2.45135787,  2.64509117, 15.        , 15.        ],
       [ 1.9140976 ,  0.4429454 ,  2.31746185, 35.        , 35.        ],
       [ 2.26753801,  2.45107959,  1.34630216, 35.        , 35.        ],
       [ 1.78747687,  2.02194229,  4.25333595, 15.        , 15.        ],
       [ 5.08711336,  2.64517554,  1.67092117, 10.        , 10.        ],
       [ 3.16444123,  3.39158424,  3.27803371, 10.        , 10.        ],
       [ 4.15020554,  3.17719233,  1.92523341, 15.        , 15.        ],
       [ 1.73264795,  2.97003199,  3.66831687, 15.        , 15.        ],
       [ 3.18103513,  3.19958211,  3.95583236, 10.        , 10.        ],
       [ 4.17786194,  2.87388223,  2.12238641, 20.        , 20.        ],
       [ 2.66498924,  3.19701893,  1.07628427, 35.        , 35.        ],
       [ 4.03111446, -0.23105501,  3.69578732, 15.        , 15.        ],
       [ 1.91543209,  2.73070651,  4.87580055, 10.        , 10.        ],
       [ 1.63652846,  2.88914928,  3.41569454, 35.        , 35.        ],
       [ 3.37940061,  2.65873828,  3.16054442, 40.        , 40.        ],
       [ 2.62082357,  2.78205374,  3.81976061, 20.        , 20.        ]])